.accordion-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    background: #fff;
}

.accordion-header {
    padding: 15px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background: #f7f7f7;
}

.accordion-content {
    display: none;
    padding: 15px;
    background: #fafafa;
}

.leccion-item {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.btn-quiz {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background: #cfd8ea;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
}