* {
  font-family: 'Inter', sans-serif;
  outline: 1px solid red;
}
/***** HEADER *****/
.site-header {
    background-color: #FFFFFF;
    padding: 10px 24px;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo {
    width: 42px;
    height: auto;
}
.brand-name {
    font-weight: 600;
    font-size: 15px;
    color: #002B82;
}
.header-nav {
    display: flex;
    gap: 32px;
}
.header-nav a {
    text-decoration: none;
    color: #002B82;
    font-size: 15px;
}
.header-nav a:hover {
    color: #002B82;
}

/***** FOOTER *****/
.site-footer {
    background-color: #002B82;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: auto;
}